<template>
  <div>
    <div class="content-header">
      <h1>Přehled</h1>
    </div>
    <section class="content">
    </section>
  </div>
</template>

<script>
  import _ from 'lodash';
  import moment from 'moment';
  import {mapGetters, mapState} from 'vuex';
  import { businessTypes } from 'codelist/';
  export default {
    computed: {
    }
  }
</script>
